.record {
  display: flex;
  padding: 8px;
}

.record--even {
  background: #0051a8;
}

.slot--reference {
  flex-grow: 1;
  flex-basis: 20%;
}

.slot--description {
  flex-grow: 2;
  flex-basis: 40%;
}

.slot--error {
  flex-grow: 2;
  flex-basis: 40%;
}

.slot {
  margin: 5px 0;
  padding: 8px;
  border-right: 1px #000000 solid;
}

.record--even .slot {
  border-color: #ffffff;
  color: #ffffff;
}

.slot:last-child {
  border: 0;
}
