.headers {
  display: flex;
  padding: 8px;
  text-align: center;
  background: #000088;
  color: #ffffff;
}

.header--reference {
  flex-grow: 1;
  flex-basis: 20%;
}

.header--description {
  flex-grow: 2;
  flex-basis: 40%;
}

.header--error {
  flex-grow: 2;
  flex-basis: 40%;
}

.header {
  margin: 5px 0;
  padding: 8px;
  border-right: 1px #ffffff solid;
}

.header:last-child {
  border: 0;
}
